<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <%- include('header-files-new') %>
</head>
<body>

<div class="main">
    <%- include('guest_navbar') %>
    <%- include('bread-crumb') %>

    <!-- CONTAIN START ptb-95-->
    <section class="ptb-95 mobile-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="image-part"><img alt="" style="width:90%;height:40%;" src="images/laptop2.jpg"></div>
                </div>
            </div>
            <div class="about-detail mt-40">
                <div class="row">
                    <div class="col-sm-12 mb-xs-30">
                        <div class="about-title">
                            Nowadays, many people would like to build their own laptops to meet their personalized needs. Do you want to build your own laptop, too? If so, do check our website..
                        </div>
                    </div>
                    <!-- <div class="col-sm-6">
                        <p>Oh, would I could describe these conceptions, could impress upon paper all that is living so
                            full and warm within me, that it might be the mirror of my soul, as my soul is the mirror of
                            the infinite God!</p>
                        <p> I am alone, and feel the charm of existence in this spot, which was created for the bliss of
                            souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense. </p>
                    </div> -->
                </div>
            </div>
            <br> <br> <br>
            <div class="row">
        
            <div class="col-sm-9 mt-6">
                <h2 style="color:rgb(88, 88, 241)">Is It Worth Building Your Own Laptop/PC?</h2>

                <p style="font-size:18px;letter-spacing: 2px;"> A lot of times you buy preconfigured OEM laptops directly from stores or manufacturer websites. These laptops are built in bulk with specifications fit for a variety of uses and applications, and you can start using it immediately when you get home or after the next package delivery truck arrives. </p><br>
                <p style="font-size:18px;letter-spacing: 2px;">But these laptops may not meet personalized needs, especially for gamers and professional users. In addition, custom laptop computers have high cost effectiveness. Of course, the premise is that you build it yourself.</p><br>
                <p style="font-size:18px;letter-spacing: 2px;">At the same price, the performance of the custom computers far exceeds the brand computers, because you can choose computer accessories according to your needs and don't need to spend money on components you didn’t really want. Therefore, it's worth building a laptop.</p><br>

                <h2 style="color:rgb(88, 88, 241)">How to Choose Laptop Components?</h2>
               <p style="font-size:18px;letter-spacing: 2px;">To build your own laptop, you should buy a barebones laptop, a processor, a RAM, a network card, hard drives, etc which you can find in our website.</p><br>
               <p style="font-size:18px;letter-spacing: 2px;">But before grabbing the parts for your laptop/pc, you should decide what the laptop’s main purpose will be. Most people build laptops/pc for playing high-end games or heavy load work(specially in field of software engineering). In this case, you need to build your laptop with high-end specifications, but that will be directly proportional to the cost at the end.</p><br>
               <p style="font-size:18px;letter-spacing: 2px;">If you just need a portable laptop for browsing, email checking, and word processing, building a laptop is not necessary, because basic integrated laptops can meet your needs. You can buy an Ultrabook from any store.</p>
            </div>
            <div class="col-sm-2"></div>
            
        </div>
        </div>
    </section>

    <!--  Client-review Block Start  -->
    <section class="gray-bg align-center ptb-95" style="color:antiquewhite">
        <div class="client-main container">
            <h2 style="font-size:30px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:rgb(62, 55, 55)">Client Reviews..</h2>
            <div class="client-inner">
                <div id="client" class="owl-carousel" style="background-color:rgb(105, 98, 98)">
                    <div class="item client-detail">
                        <div class="client-img"><img src="assets/images/testimonial_img1.jpg" alt="review_client1"></div>
                        <h4 class="client-title">George sant</h4>
                        <p style="color:black">make a type specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was make a type specimen book.
                            It has survived not only five centuries.</p>
                        <h4 class="sub-title">George_santt@gmail.com</h4>
                    </div>
                    <div class="item client-detail">
                        <div class="client-img"><img src="assets/images/testimonial_img2.jpg" alt="pcart"></div>
                        <h4 class="client-title">Wed Censtoriya</h4>
                        <p>make a type specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was make a type specimen book.
                            It has survived not only five centuries.</p>
                        <h4 class="sub-title">Wed.Censtoriya@gmail.com</h4>
                    </div>
                    <div class="item client-detail">
                        <div class="client-img"><img src="assets/images/testimonial_img3.jpg" alt="pcart"></div>
                        <h4 class="client-title">Wed Censtoriya</h4>
                        <p>make a type specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was make a type specimen book.
                            It has survived not only five centuries.</p>
                        <h4 class="sub-title">Wed.Censtoriya@gmail.com</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Client-Main Block End  -->
</div>

<%- include('footer') %>
<%- include('footer_scripts') %>

</body>
</html>